Repository FrenkyDema/bloc_infinity_list, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, test, example, android, workflows, lib

Version update
  CHANGELOG.md
  pubspec.yaml
Labels: documentation

Update .gitignore
  .gitignore
Labels: none

Update flutter.yml
  .github/workflows/flutter.yml
Labels: workflows

Add manual scroll view
  .run/Tests in test_.run.xml
  example/lib/main.dart
  lib/bloc_infinity_list.dart
  test/bloc_infinity_list_method_channel_test.dart
  test/bloc_infinity_list_test.dart
Labels: test, lib

Refactoring workflows
  .github/workflows/flutter.yml
  .github/workflows/flutter_coverage.yml
  .github/workflows/pull_request_automerge.yml
Labels: workflows

Refactoring git coverage
  .gitignore
  coverage/lcov.info
  example/web/index.html
Labels: none

Update widget_test.dart
  example/test/widget_test.dart
Labels: none

Update flutter_coverage.yml
  .github/workflows/flutter_coverage.yml
Labels: workflows

Update flutter_coverage.yml
  .github/workflows/flutter_coverage.yml
Labels: workflows

Update flutter_coverage.yml
  .github/workflows/flutter_coverage.yml
Labels: workflows

Update flutter_coverage.yml
  .github/workflows/flutter_coverage.yml
Labels: workflows

Update .gitignore
  .gitignore
Labels: none

Refactoring
  .gitignore
  coverage/lcov.info
Labels: none

Refactoring .gitignore
  .gitignore
  .idea/.gitignore
Labels: none

Update flutter_coverage.yml
  .github/workflows/flutter_coverage.yml
Labels: workflows

Update flutter_coverage.yml
  .github/workflows/flutter_coverage.yml
Labels: workflows

Update README.md
  README.md
Labels: documentation

Update pubspec.lock
  example/pubspec.lock
Labels: example

Add initial value to bloc constructor
  example/lib/main.dart
  lib/infinite_list_bloc/infinite_list_bloc.dart
  test/bloc_infinity_list_test.dart
Labels: test

Add initial value to bloc constructor (#26)
  example/lib/main.dart
  lib/infinite_list_bloc/infinite_list_bloc.dart
  test/bloc_infinity_list_test.dart
Labels: test

Adding shrinkWrap
  example/lib/main.dart
  lib/bloc_infinity_list.dart
  test/bloc_infinity_list_test.dart
Labels: test, lib

Adjust padding
  devtools_options.yaml
  example/devtools_options.yaml
  lib/bloc_infinity_list.dart
Labels: example, lib

Refactoring
  example/lib/main.dart
  lib/infinite_list_bloc/infinite_list_bloc.dart
Labels: none

Add BoolCallbackAction for sync evaluation
  example/lib/main.dart
  lib/bloc_infinity_list.dart
Labels: lib

Add margin field
  lib/bloc_infinity_list.dart
Labels: lib

Adjust padding (#28)
  devtools_options.yaml
  example/devtools_options.yaml
  example/lib/main.dart
  lib/bloc_infinity_list.dart
  lib/infinite_list_bloc/infinite_list_bloc.dart
Labels: example, lib

Fix git doc ref
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
  LICENSE
Labels: documentation

.github/labeler.yml:

documentation:
  - .github/*
  - CHANGELOG.md
  - LICENSE
  - README.md

test:
  - test/*

example:
  - example/*

android:
  - android/*

workflows:
  - .github/workflows/*

lib:
  - lib/*
